._elevio_article_title {
  text-align: center;
}

#_elev_io ._92161 {
  text-align: center;
}

#_elev_io ._elevio_article_title {
  text-align: center !important;
}

#_elev_io > div > div._1mkxc._92161._elevio_article_title {
  text-align: center;
}
